li {

    padding: 10px;
    list-style: none;
    text-decoration: none;
}

a {

text-decoration: none;
}

a:hover {

    background-color: aqua;
    padding: 10px;
}

ul {

    background-color: blueviolet;
display: flex;
justify-content: space-evenly;
    padding: 10px;
    flex-direction: row;
}

#home {
    
    margin: auto;
}

/* Media Quaries */
@media only screen and (max-width: 768px) {

ul{

    flex-direction: column;
}

}

.NavBar {

list-style: none;

}
