ol {

text-decoration: none;
display: inline;
padding: 50px;
font-size: 40px;

}

ul{

background-color: #e1a177;
padding: 50px;
width: 100%;

}

li {

padding: 10px;
font-size: 20px;
}

.footer-left {




}