@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100&display=swap');

.nav {

    font-family: 'Lobster', cursive;

}

ol {

text-decoration: none;
display: inline;
padding: 50px;
font-size: 20px;
font-family: 'Lobster', cursive;

}

ul{

background-color: #e1a177;
padding: 30px;
width: 100%;
font-family: 'Montserrat', sans-serif;
}

li {

padding: 10px;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
}

.footer-left {

background-color: #e1a177;


}

.footer-right {

display: flex;
float: right;
flex-direction: column;
width: 1600px;
height: 300px;
position: relative; top: -580px;
position: relative; right: 400px;
font-size: 20px;
}

footer {
width: 100%;
padding: 90px;

}

p{

    font-family: 'Montserrat', sans-serif;

}

h4 {

    font-family: 'Montserrat', sans-serif;

}

h6{

    font-family: 'Montserrat', sans-serif;

}

div {

    font-family: 'Montserrat', sans-serif;


}