input:invalid {

border: 2px dashed red;

}

textarea:invalid {

    border: 2px dashed red;
    
    }
input:valid {

border: 2px solid rgb(0, 255, 0);

}

body {

    background-image: url(https://cdn.mos.cms.futurecdn.net/WjhFQJ8W64cKebDzdRLniA.jpg);
}

label {
background-color: azure;

}

form {
background-color: red; width: 500px;
position: relative; left: 1060px;
}