nav {

background-color: purple;
}

li {

    list-style: none;
    padding: 10px;
}
ul{

display: flex;
list-style: none;
}

.dropdown2  {

position: absolute;
width: 50%;
background-color: powderblue;
flex-direction: column;
justify-content: flex-end;
text-align: left;
padding-left: 0%;
border: 2px solid pink;
border-radius: 10%;
opacity: 0;
transition: 0.5s;

}

.dropdown:hover .dropdown2 {

opacity: 1;

}
/* Media Query */
@media only screen and (max-width: 768px) {

ul {
    flex-direction: column;
}

}