body {
margin: auto;
    background-color: beige;
    text-align: center;
}

form {

background-color: antiquewhite;
height: 750px;
width: 400px;
margin: auto;

}

input:invalid {

    border: 2px dashed red;
    
    }
    
    textarea:invalid {
    
        border: 2px dashed red;
        
        }
    input:valid {
    
    border: 2px solid rgb(0, 255, 0);
    
    }
    input {

height: 30px;
width: 300px;

    }

    textarea {

height: 200px;
width: 300px;

    }
    
    label {

font-size: 20px;
font-family:fantasy
    }

    select {

font-size: 15px;
padding: 10px;
width: 310px;
    }

    option {

font-family: Arial, Helvetica, sans-serif;

    }

    input {

font-family:monospace

    }