body {

    height: 1500px;
    position: relative;
}

li {

    display: inline;
    padding: 10px;
    list-style: none;

}

a {

text-decoration: none;

}

Nav {

background-color: blueviolet;


}

ul {

    background-color: blueviolet;

    padding: 10px;
}