body {

    height: 1500px;
    position: relative;
}

li {

    display: inline;
    padding: 10px;
    list-style: none;

}

a {

text-decoration: none;

}

Nav {

background-color: purple;

}

.Navbar {

position: fixed;
background-color: aqua;

}

.Navbar2 {

    background-color: purple;
    position: relative; top: 100px;
}

.Navbar3 {

    background-color: purple;
    position: relative; top: 150px;
}

ul {
padding: 20px;
    background-color: purple;
}