.site-hero {

display: flex;
background-image: url(../assets/branding/wood_bkgrnd.jpg);
background-size: cover;
background-position: center;
height: 80vh;


}

.hero-text{

margin: auto;
font-size: 50px;
color: white;
font-family: monospace;
}


.Right {


position: relative; top: -650px;

}

.Center {

    position: relative; top: -1330px;
    position: relative; right: -730px;



}

.grid {

display: grid;
align-items: center;
grid-template-columns: auto;
-ms-grid-column-align: start;
}