


nav {
background-color: gainsboro;
height: 700px;
width: 170px;
text-align: center;
position: relative; top: -100px;
}


header {
    text-align: center;
    background-color: gainsboro;
    padding: 10px;
    position: relative; left: 190px;
    width: 1100px;
}
main {
position: relative; top: px;
position: relative; left: 189px;
width: 500px;
float: left;
    background-color: aquamarine
}
p {
background-color: rgba(172, 255, 47, 0.395);
width: 500px;
position: relative; top: -720px;
position: relative; left: 189px;
padding: 10px;
}

h2{
background-color: aquamarine;
position: relative; top: -700px;
position: relative; left: 189px;
width: 500px;
padding: 10px;
}

.Text {
position: relative; top: -700px;
position: relative; left: 189px;
width: 500px;
background-color: rgba(172, 255, 47, 0.395);
position: relative; top: -719px;
}

.BlueHead {
background-color: blue;
font-size: 22px;
position: relative; right: -200px;
margin-left: 600px;
position: relative; top: -1209px;
width: 530px;
padding: ;
}

.BlueBody {
background-color: rgba(0, 255, 255, 0.434);
position: relative; top: -625px;
margin-left: 500px;
position: relative; top: -1241px;
position: relative; left: 300px;
width: 530px;

}

.BlueBody2 {
    background-color: rgba(0, 255, 255, 0.434);
width: 530px;
    position: relative; left: 800px;
    position: relative; top: -1177px;


    }
    h4{
        position: relative; top: -260px;
        font-size: 30px;
    background-color: blue;
    width: 440px;
    
    }

    h5 {
font-size: 20px;

    }

    .purple {
background-color: rgba(133, 36, 133, 0);
position: relative; left: 230px;
position: relative; top: -200px;




    }

    .purplebody {
background-color: rgba(137, 43, 226, 0.437);
padding-left: 300px;
position: relative; top: -1390px;
width: 800px;
position: relative; left: 190px;

    }

    img {

position: relative; right:270px;
        width:250px;
position: relative; top: -60px;

    }
    h1 {
position: relative; top: -1860px;
position: relative; left: 190px;
background-color: purple;
    }


    h3{

font-size: 40px;
background-color: gainsboro;
position: relative; top: -2700px;
position: relative; left: 600px;
    }

  