
body {

display: grid;

}

h1 {
display: grid;
background-color: orange;
padding: 30px;
width: 100%;

}

nav {
text-align: center;
background-color: coral;
width: 200px;
height: 800px;

}

.Text {

display: grid;
position: relative; top: -1160px;
position: relative; left: 250px;
width: 500px;
text-align: left;
}

.Text2 {

    display: grid;
    position: relative; top: -1000px;
    position: relative; left: 559px;
    width: 500px;
    text-align: right;


}

footer {
display: grid;
position: relative; top: -800px;
    background-color: blueviolet;
    width: 1300px;
    grid-row-start: auto;
    grid-row-end: auto;
}

.Rick {

position: relative; top: -750px;
position: relative; left: 800px;

}

.Roll {

    position: relative; top: -620px;
    position: relative; left: 250px;
    

}

a {

    text-decoration: none;
    padding-
}