#room {

    border: 5px solid aquamarine;
    position: relative;
    background-image: url(https://media1.giphy.com/media/g7GKcSzwQfugw/200.gif);
}

#ball {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkorchid;
    border-radius: 50%;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}